<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= link_to 'My Blog', controller: 'posts' %>

<%= link_to 'New ', new_post_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @post.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <% if user_signed_in?%>
        <%if post.user_id == current_user.id%>
         <td><%= link_to 'Edit', edit_post_path(post) %></td>
         <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      <% end %>
    </tr>
  <% end %>
</table>
